openapi: 3.1.0
info:
  title: Fincra Cards (fincra-card-issuing)
  version: "1.0.0"
  summary: Merchant-facing card-issuing API for the fincra-card-issuing service.
  description: >
    Issue and manage virtual and physical debit cards for your cardholders,
    fund them from your Fincra wallet, set PINs, freeze and terminate them, list
    card transactions, and securely reveal full card details (PAN/CVV) through a
    short-lived ephemeral token.


    Cardholders must be created and (for individuals) KYC-approved, and a card
    product must be activated for your merchant, before a card can be issued.
    Most card mutations are synchronous but call an external program manager: a
    program-manager failure surfaces as HTTP 503 (`failedDependency`). Funding a
    card is ledger-backed and may return `202` while the ledger transaction is
    in flight (`CardTransactionStatus: PENDING`); poll the transaction endpoints
    for the terminal state. This service emits no merchant webhooks in the
    harvested code, so no `webhooks` block is declared.


    This spec is generated from the source of `fincra-card-issuing` on branch
    `develop` (code is truth). The app is Hono + @hono/zod-openapi at `apps/api`
    (routes registered in `apps/api/src/app.ts`). Anything undeterminable from
    code is marked with an `x-todo` extension carrying the exact `file:line`, and
    is listed in EXTRACTION-REPORT-cards.md.
  contact:
    name: Fincra Developer Relations
    url: https://support.fincra.com
x-todo-gateway-prefix: >
  Routes are registered on the Hono app with NO version/base-path prefix
  (apps/api/src/app.ts). The public API prefix a merchant calls (the
  platform-wide /v2 and any /cards mount) is applied at the Kong gateway, which
  is not in this repo. Paths below are exactly as routed in code; prepend the
  confirmed gateway prefix before publishing. See EXTRACTION-REPORT-cards.md.

servers:
  - url: https://sandboxapi.fincra.com
    description: Sandbox (test keys). Powers the docs playground.
  - url: https://api.fincra.com
    description: "Production (live keys). Live mode (ENVIRONMENT=production, init.ts:35) enforces caller-IP whitelisting."

security:
  - ApiKeyAuth: []

tags:
  - name: Cards
    description: Issue, fund, and manage cards, cardholders, and card products.

paths:
  /cardholders:
    post:
      operationId: cardsCreateCardholder
      tags: [Cards]
      summary: Create a cardholder
      description: >
        Create an individual or business cardholder that cards can later be
        issued to. The request is a discriminated union on `type`; individuals
        must be Nigerian (countryCode NG) and supply both a BVN and a NIN, while
        businesses supply a KYB profile whose associated persons and entities'
        shareholding must sum to 100. This call is synchronous and returns the
        created cardholder on 201; program-manager enrollment failure is
        swallowed, so the cardholder is still returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCardholderRequest"
            examples:
              individual:
                summary: Individual cardholder (Nigerian, BVN + NIN)
                value:
                  type: individual
                  reference: cardholder-req-3f81a9c2
                  email: amara.okeke@mailinator.com
                  phoneNumber: "+2348031234567"
                  kycProfile:
                    firstName: Amara
                    lastName: Okeke
                    dob: "1994-03-21"
                    countryCode: NG
                    gender: female
                    maritalStatus: single
                    address:
                      line1: 12 Marina Road
                      city: Lagos
                      state: Lagos
                      postalCode: "101001"
                      country: NG
                    identityNumbers:
                      - type: bvn
                        number: "22212345678"
                      - type: nin
                        number: "70123456789"
                    documents:
                      idFrontUrl: https://sandbox-files.fincra.com/id-front-3f81.jpg
                      idType: passport
                      proofOfAddressUrl: https://sandbox-files.fincra.com/poa-3f81.pdf
              business:
                summary: Business cardholder (KYB, shareholding sums to 100)
                value:
                  type: business
                  reference: cardholder-req-7b1204de
                  email: ops@globaltraders.africa
                  phoneNumber: "+2348039876543"
                  address:
                    line1: 55 Awolowo Road
                    city: Lagos
                    state: Lagos
                    postalCode: "101233"
                    country: NG
                  kybProfile:
                    legalName: Global Traders Limited
                    tradeName: Global Traders
                    companyRegistrationNumber: RC-1928374
                    countryOfIncorporation: NG
                    incorporationDate: "2019-06-01"
                    industry: Wholesale trade
                    documents:
                      certificateOfIncorporationUrl: https://sandbox-files.fincra.com/coi-7b12.pdf
                      companyProofOfAddressUrl: https://sandbox-files.fincra.com/poa-7b12.pdf
                      articlesOfAssociationOrMemorandum: https://sandbox-files.fincra.com/aoa-7b12.pdf
                    associatedPersons:
                      - firstName: Chidi
                        lastName: Balogun
                        dob: "1985-11-02"
                        countryCode: NG
                        gender: male
                        maritalStatus: married
                        address:
                          line1: 55 Awolowo Road
                          city: Lagos
                          state: Lagos
                          country: NG
                        identityNumbers:
                          - type: bvn
                            number: "22287654321"
                          - type: nin
                            number: "70198765432"
                        documents:
                          idFrontUrl: https://sandbox-files.fincra.com/dir-id-7b12.jpg
                          idType: national_id
                          proofOfAddressUrl: https://sandbox-files.fincra.com/dir-poa-7b12.pdf
                        shareholderPercentage: 100
                        isDirector: true
      responses:
        "201":
          description: Cardholder created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Cardholder"
              example:
                success: true
                message: successful
                data:
                  id: ch_2a1f04b7c9
                  name: Amara Okeke
                  email: amara.okeke@mailinator.com
                  phoneNumber: "+2348031234567"
                  address:
                    line1: 12 Marina Road
                    city: Lagos
                    state: Lagos
                    postalCode: "101001"
                    country: NG
                  reference: cardholder-req-3f81a9c2
                  type: individual
                  countryCode: NG
                  createdAt: "2026-07-12T09:15:00.000Z"
                  updatedAt: "2026-07-12T09:15:00.000Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "Body fails zod validation, including the NG-residency, BVN+NIN, and shareholding-sums-to-100 refinements."
        - errorType: CARDHOLDER_ALREADY_EXISTS
          status: 400
          trigger: "Duplicate reference (business), duplicate identity number, or duplicate business registration number."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not in the merchant's whitelistedIpAddresses.
        - errorType: INTERNAL_SERVER_ERROR
          status: 500
          trigger: Unhandled or database error.

    get:
      operationId: cardsListCardholders
      tags: [Cards]
      summary: List cardholders
      description: >
        Return a cursor-paginated list of the merchant's cardholders, scoped to
        the authenticated business. Supports filtering by cardholder type and by
        created-at UNIX-second bounds. This call is synchronous; use the opaque
        `cursor` from the response to fetch the next page.
      parameters:
        - name: limit
          in: query
          description: Page size, 1-100. Defaults to 10.
          schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
        - name: type
          in: query
          description: Filter by one or more cardholder types.
          schema:
            type: array
            items: { $ref: "#/components/schemas/CardholderType" }
        - name: cursor
          in: query
          description: Opaque pagination cursor from a previous page.
          schema: { type: string, minLength: 1 }
        - name: createdAt.gte
          in: query
          description: Include cardholders created at or after this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.lte
          in: query
          description: Include cardholders created at or before this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.lt
          in: query
          description: Include cardholders created strictly before this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.gt
          in: query
          description: Include cardholders created strictly after this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: A page of cardholders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardholderPage"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: A query parameter fails validation.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cardholders/{id}:
    get:
      operationId: cardsRetrieveCardholder
      tags: [Cards]
      summary: Retrieve a cardholder
      description: >
        Fetch a single cardholder by its `ch_`-prefixed id, scoped to the
        authenticated business. This call is synchronous. A missing cardholder
        returns HTTP 400 with errorType CARDHOLDER_NOT_FOUND (the service maps
        not-found to 400, not 404).
      parameters:
        - name: id
          in: path
          required: true
          description: The cardholder id (must start with `ch_`).
          schema: { type: string, pattern: "^ch_" }
      responses:
        "200":
          description: The cardholder.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Cardholder"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: The id does not start with `ch_`.
        - errorType: CARDHOLDER_NOT_FOUND
          status: 400
          trigger: "No cardholder with this id for the business (notFound maps to 400)."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards:
    post:
      operationId: cardsCreateCard
      tags: [Cards]
      summary: Issue a card
      description: >
        Issue a debit or virtual debit card to an existing cardholder from an
        activated card product. Only `debit_card` and `virtual_debit_card` are
        accepted here (prepaid variants are not). This call is synchronous but
        delegates to an external program manager; a program-manager or cardholder
        enrollment failure surfaces as HTTP 503 (CARD_ISSUANCE_FAILED).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCardRequest"
            example:
              reference: card-req-9d55e0af
              cardProductId: cprod_5c2a1f04b7
              cardholderId: ch_2a1f04b7c9
              cardType: virtual_debit_card
              billingAddress:
                line1: 12 Marina Road
                city: Lagos
                state: Lagos
                postalCode: "101001"
                country: NG
              metadata:
                orderId: order-9d55e0af
      responses:
        "201":
          description: Card issued.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardCreated"
              example:
                success: true
                message: successful
                data:
                  id: card_7b1204de3a
                  status: inactive
                  last4: "4321"
                  panMasked: "539983******4321"
                  expiryMonth: "08"
                  expiryYear: "2029"
                  scheme: mastercard
                  currency: NGN
                  cardProductId: cprod_5c2a1f04b7
                  cardholderId: ch_2a1f04b7c9
                  reference: card-req-9d55e0af
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: Body fails zod validation (id prefixes, cardType enum, billing address).
        - errorType: CARD_PRODUCT_NOT_FOUND
          status: 400
          trigger: "No such card product (notFound maps to 400)."
        - errorType: CARD_PRODUCT_ACTIVATION_REQUIRED
          status: 400
          trigger: The merchant has not activated this card product.
        - errorType: CARD_PRODUCT_NOT_ACTIVE
          status: 400
          trigger: "Product/activation not active, or no active program manager."
        - errorType: CARDHOLDER_NOT_FOUND
          status: 400
          trigger: "No such cardholder (notFound maps to 400)."
        - errorType: CARD_PRODUCT_ENTITY_TYPE_MISMATCH
          status: 400
          trigger: The cardholder type does not match the product's entity type.
        - errorType: CARD_ISSUANCE_FAILED
          status: 503
          trigger: The program-manager createCard or cardholder enroll call failed.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

    get:
      operationId: cardsListCards
      tags: [Cards]
      summary: List cards
      description: >
        Return a cursor-paginated list of the merchant's cards, scoped to the
        authenticated business. Supports filtering by card status and by
        created-at UNIX-second bounds. This call is synchronous; use the opaque
        `cursor` to page.
      parameters:
        - name: limit
          in: query
          description: Page size, 1-100. Defaults to 10.
          schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
        - name: cursor
          in: query
          description: Opaque pagination cursor from a previous page.
          schema: { type: string, minLength: 1 }
        - name: status
          in: query
          description: Filter by one or more card statuses.
          schema:
            type: array
            items: { $ref: "#/components/schemas/CardStatus" }
        - name: createdAt.gte
          in: query
          description: Include cards created at or after this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.lte
          in: query
          description: Include cards created at or before this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.lt
          in: query
          description: Include cards created strictly before this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.gt
          in: query
          description: Include cards created strictly after this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: A page of cards.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardPage"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: A query parameter fails validation.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}:
    get:
      operationId: cardsRetrieveCard
      tags: [Cards]
      summary: Retrieve a card
      description: >
        Fetch a single card by its `card_`-prefixed id, scoped to the
        authenticated business. This call is synchronous. A missing card returns
        HTTP 400 with errorType CARD_NOT_FOUND (not-found maps to 400).
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      responses:
        "200":
          description: The card.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Card"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: The id does not start with `card_`.
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id for the business (notFound maps to 400)."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

    put:
      operationId: cardsUpdateCard
      tags: [Cards]
      summary: Update a card status (freeze/unfreeze)
      description: >
        Freeze or unfreeze a card by setting `status`. Setting `inactive` freezes
        the card (isFrozen=true) and discards active ephemeral reveal tokens;
        `active` unfreezes it. This call is synchronous and delegates to the
        program manager; a program-manager failure surfaces as HTTP 503
        (CARD_UPDATE_FAILED).
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCardRequest"
            example:
              status: inactive
      responses:
        "200":
          description: Card updated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardMutationResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "Body/param fails validation (id prefix, status enum)."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_ACTIVATION_REQUIRED
          status: 400
          trigger: The card is inactive and not frozen.
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card is cancelled.
        - errorType: BAD_REQUEST
          status: 400
          trigger: The card is already in the requested status.
        - errorType: CARD_UPDATE_FAILED
          status: 503
          trigger: The program-manager updateCard call failed.
        - errorType: INTERNAL_SERVER_ERROR
          status: 500
          trigger: The update affected zero rows.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/activate:
    post:
      operationId: cardsActivateCard
      tags: [Cards]
      summary: Activate a card
      description: >
        Activate a card so it can transact. Takes no request body. This call is
        synchronous and delegates to the program manager; a program-manager
        failure surfaces as HTTP 503 (CARD_ACTIVATION_FAILED). A frozen or
        cancelled card cannot be activated.
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      responses:
        "200":
          description: Card activated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardActivationResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: The id does not start with `card_`.
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_ALREADY_ACTIVATED
          status: 400
          trigger: The card status is already active.
        - errorType: CARD_IS_FROZEN
          status: 400
          trigger: The card is frozen.
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card is cancelled and cannot be reactivated.
        - errorType: CARD_ACTIVATION_FAILED
          status: 503
          trigger: The program-manager activateCard call failed.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/terminate:
    post:
      operationId: cardsTerminateCard
      tags: [Cards]
      summary: Terminate a card
      description: >
        Terminate (cancel) a card with a reason. Sets status to cancelled,
        enqueues an asynchronous balance-return job, and discards active
        ephemeral reveal tokens. The cancel call to the program manager is
        synchronous; its failure surfaces as HTTP 503 (CARD_CANCELLATION_FAILED).
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminateCardRequest"
            example:
              reason: lost
      responses:
        "200":
          description: Card terminated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardTerminationResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "Body/param fails validation (id prefix, reason enum)."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_ACTIVATION_REQUIRED
          status: 400
          trigger: The card is inactive and not frozen.
        - errorType: CARD_IS_FROZEN
          status: 400
          trigger: The card is inactive and frozen and cannot be terminated.
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card is already cancelled.
        - errorType: CARD_CANCELLATION_FAILED
          status: 503
          trigger: The program-manager cancelCard call failed.
        - errorType: INTERNAL_SERVER_ERROR
          status: 500
          trigger: The update affected zero rows.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/fund:
    post:
      operationId: cardsFundCard
      tags: [Cards]
      summary: Fund a card
      description: >
        Fund a card by debiting the merchant's main wallet and posting a ledger
        transaction. The settlement amount's currency must equal the card
        currency and its decimal places must not exceed the currency's minor
        units. This call may return 200 when completed, or 202 when the ledger
        transaction is in flight (CardTransactionStatus PENDING); poll the card
        transaction endpoints for the terminal state.
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundCardRequest"
            example:
              settlementAmount:
                amount: 5000
                currency: NGN
              reference: card-fund-3f81a9c2
      responses:
        "200":
          description: Funding completed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardTransaction"
              example:
                success: true
                message: successful
                data:
                  id: cardtx_9d55e0af12
                  type: FUNDING
                  status: SUCCESSFUL
                  presentmentAmount:
                    amount: 5000
                    currency: NGN
                  settlementAmount:
                    amount: 5000
                    currency: NGN
                  feeAmount:
                    amount: 0
                    currency: NGN
                  exchangeRate: "1"
                  reference: card-fund-3f81a9c2
                  createdAt: "2026-07-12T09:20:00.000Z"
                  updatedAt: "2026-07-12T09:20:00.000Z"
        "202":
          description: Funding accepted and in progress (ledger transaction in flight).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardTransaction"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "Body fails validation, including the amount decimal-places refinement."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card status is not active.
        - errorType: INVALID_CURRENCY
          status: 400
          trigger: The settlement currency does not match the card currency.
        - errorType: BALANCE_INSUFFICIENT
          status: 400
          trigger: The ledger reports insufficient balance.
        - errorType: TRANSACTION_ALREADY_COMPLETED
          status: 400
          trigger: The ledger reports the transaction already completed.
        - errorType: ACCOUNT_BALANCE_NOT_FOUND
          status: 400
          trigger: "The ledger balance/account for this card:currency is invalid (notFound maps to 400)."
        - errorType: CARD_FUND_COMPENSATION_FAILED
          status: 500
          trigger: The ledger posting failed and the compensating wallet reversal also failed.
        - errorType: INTERNAL_SERVER_ERROR
          status: 503
          trigger: An unmapped ledger error, or a wallet-debit 5xx, surfaced as a dependency failure.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/pin:
    post:
      operationId: cardsSetCardPin
      tags: [Cards]
      summary: Set a card PIN
      description: >
        Set a 4-digit numeric PIN on an active, non-frozen card. This call is
        synchronous and delegates to the program manager; a program-manager
        failure surfaces as HTTP 503 (CARD_PIN_SET_FAILED). The PIN itself is
        never returned.
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetCardPinRequest"
            example:
              pin: "4827"
      responses:
        "200":
          description: PIN set.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardIdResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "The id prefix or the pin format (must be exactly 4 digits) is invalid."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_IS_FROZEN
          status: 400
          trigger: The card is frozen.
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card status is not active.
        - errorType: CARD_PIN_SET_FAILED
          status: 503
          trigger: The program-manager setCardPin call failed.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/balances:
    get:
      operationId: cardsRetrieveCardBalances
      tags: [Cards]
      summary: Retrieve card balances
      description: >
        Return the card's ledger balances as an array of per-currency balance
        objects. An optional `currency` query narrows the account-address lookup
        and defaults to the card's currency. This call is synchronous.
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
        - name: currency
          in: query
          description: Currency to look up; defaults to the card currency.
          schema: { $ref: "#/components/schemas/Currency" }
      responses:
        "200":
          description: The card balances.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        description: One balance object per currency held on the card.
                        items:
                          $ref: "#/components/schemas/CardBalance"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "The id prefix or the currency query is invalid."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: ACCOUNT_BALANCE_NOT_FOUND
          status: 400
          trigger: "The ledger account for this card:currency address was not found (notFound maps to 400)."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/transactions:
    get:
      operationId: cardsListCardTransactions
      tags: [Cards]
      summary: List card transactions
      description: >
        Return a cursor-paginated list of a card's transactions, scoped to the
        authenticated business and card. Supports filtering by transaction type,
        status, and created-at UNIX-second bounds. This call is synchronous; use
        the opaque `cursor` to page.
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
        - name: limit
          in: query
          description: Page size, 1-100. Defaults to 10.
          schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
        - name: cursor
          in: query
          description: Opaque pagination cursor from a previous page.
          schema: { type: string, minLength: 1 }
        - name: type
          in: query
          description: Filter by one or more transaction types.
          schema:
            type: array
            items: { $ref: "#/components/schemas/CardTransactionType" }
        - name: status
          in: query
          description: Filter by one or more transaction statuses.
          schema:
            type: array
            items: { $ref: "#/components/schemas/CardTransactionStatus" }
        - name: createdAt.gte
          in: query
          description: Include transactions created at or after this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.lte
          in: query
          description: Include transactions created at or before this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.lt
          in: query
          description: Include transactions created strictly before this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
        - name: createdAt.gt
          in: query
          description: Include transactions created strictly after this UNIX-seconds timestamp.
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: A page of card transactions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardTransactionPage"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "The id prefix or a query parameter is invalid."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/transactions/{transactionId}:
    get:
      operationId: cardsRetrieveCardTransaction
      tags: [Cards]
      summary: Retrieve a card transaction
      description: >
        Fetch a single card transaction by its `cardtx_`-prefixed id, on a card
        identified by its `card_`-prefixed id, scoped to the authenticated
        business. This call is synchronous. A missing card or transaction returns
        HTTP 400 (not-found maps to 400).
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
        - name: transactionId
          in: path
          required: true
          description: The card transaction id (must start with `cardtx_`).
          schema: { type: string, pattern: "^cardtx_" }
      responses:
        "200":
          description: The card transaction.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardTransaction"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "The id or transactionId prefix is invalid."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_TRANSACTION_NOT_FOUND
          status: 400
          trigger: "No transaction with this id on the card (notFound maps to 400)."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /cards/{id}/ephemeral_tokens:
    post:
      operationId: cardsCreateEphemeralToken
      tags: [Cards]
      summary: Mint an ephemeral reveal token
      description: >
        Mint an opaque, short-lived ephemeral token (etok_...) used to later
        reveal full card details via POST /card_details. The request supplies a
        base64 nonce; the token TTL and the maximum active tokens per card are
        environment-configured, and the oldest token is discarded when the
        maximum is exceeded. This call is synchronous and works only on an active
        card.
      parameters:
        - name: id
          in: path
          required: true
          description: The card id (must start with `card_`).
          schema: { type: string, pattern: "^card_" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEphemeralTokenRequest"
            example:
              nonce: "9pQ4bXhZ2sVc1oKtRmWf7g=="
      responses:
        "200":
          description: Ephemeral token minted.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/EphemeralTokenResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "The id prefix is invalid, or the nonce is not valid base64."
        - errorType: CARD_NOT_FOUND
          status: 400
          trigger: "No card with this id (notFound maps to 400)."
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card status is not active.
        - errorType: EPHEMERAL_NONCE_REUSED
          status: 400
          trigger: The nonce has already been used for this card.
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /card_details:
    post:
      operationId: cardsGetCardDetails
      tags: [Cards]
      summary: Reveal full card details
      description: >
        Reveal the full PAN, CVV, and expiry of a card. This endpoint does NOT
        use the api-key; it authenticates with a short-lived ephemeral Bearer
        token (etok_...) minted by cardsCreateEphemeralToken. The caller proves
        possession via a clientSecret and clientTimestamp whose derived nonce
        must match the token, and the token is consumed atomically on success.
        The response carries no-store cache headers and the token cannot be
        reused.
      security:
        - EphemeralBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCardDetailsRequest"
            example:
              clientSecret: "b7c9e0af12d34e56f7a8b9c0d1e2f3a4"
              clientTimestamp: 1752312000
      responses:
        "200":
          description: The revealed card details.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardDetails"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/DependencyFailure" }
      x-fincra-error-catalog:
        - errorType: EPHEMERAL_TOKEN_INVALID
          status: 401
          trigger: "Missing/malformed Bearer token, or the token is not found."
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: "Body fails zod validation. (The middleware raises a 400 VALIDATION_FAILED when clientTimestamp is missing/invalid.)"
        - errorType: UNAUTHORIZED
          status: 403
          trigger: The clientTimestamp is outside the +/-60s clock-skew window.
        - errorType: EPHEMERAL_NONCE_INVALID
          status: 403
          trigger: The derived nonce proof does not match the stored nonce.
        - errorType: EPHEMERAL_TOKEN_USED
          status: 400
          trigger: The token was already consumed (including concurrent consumption).
        - errorType: EPHEMERAL_TOKEN_EXPIRED
          status: 400
          trigger: The token is expired or revoked.
        - errorType: CARD_NOT_ACTIVE
          status: 400
          trigger: The card status is not active.
        - errorType: CARD_REVEAL_RETRY_REQUIRED
          status: 503
          trigger: The card is gone or the program-manager getSensitiveCardData call failed.

  /card_products:
    get:
      operationId: cardsListCardProducts
      tags: [Cards]
      summary: List card products
      description: >
        Return the card products available to the merchant (those not inactive),
        each annotated with the merchant-specific activation status, as an array.
        Use this to discover which products can be activated and issued. This
        call is synchronous and takes no parameters.
      responses:
        "200":
          description: The available card products.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        description: One entry per available card product.
                        items:
                          $ref: "#/components/schemas/CardProduct"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /card_products/{id}:
    get:
      operationId: cardsRetrieveCardProduct
      tags: [Cards]
      summary: Retrieve a card product
      description: >
        Fetch a single card product by its `cprod_`-prefixed id, annotated with
        the merchant's activation status (defaults to inactive if not yet
        activated). This call is synchronous. A missing product returns HTTP 400
        with errorType CARD_PRODUCT_NOT_FOUND (not-found maps to 400).
      parameters:
        - name: id
          in: path
          required: true
          description: The card product id (must start with `cprod_`).
          schema: { type: string, pattern: "^cprod_" }
      responses:
        "200":
          description: The card product.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardProduct"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: The id does not start with `cprod_`.
        - errorType: CARD_PRODUCT_NOT_FOUND
          status: 400
          trigger: "No product with this id (notFound maps to 400)."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

  /card_products/{id}/activate:
    post:
      operationId: cardsActivateCardProduct
      tags: [Cards]
      summary: Activate a card product for the merchant
      description: >
        Activate a card product for the calling merchant, creating the
        merchant-card-product activation record (id prefix `mcprod_`). Takes no
        request body. This call is synchronous. Cards can only be issued from an
        activated, active product.
      parameters:
        - name: id
          in: path
          required: true
          description: The card product id (must start with `cprod_`).
          schema: { type: string, pattern: "^cprod_" }
      responses:
        "200":
          description: Card product activated for the merchant.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CardProductActivation"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/ServerError" }
      x-fincra-error-catalog:
        - errorType: VALIDATION_FAILED
          status: 422
          trigger: The id does not start with `cprod_`.
        - errorType: CARD_PRODUCT_NOT_FOUND
          status: 400
          trigger: "No product with this id (notFound maps to 400)."
        - errorType: CARD_PRODUCT_NOT_ACTIVE
          status: 400
          trigger: The product status is not active.
        - errorType: CARD_PRODUCT_ALREADY_ACTIVATED
          status: 400
          trigger: The merchant has already activated this product.
        - errorType: CARD_PRODUCT_ACTIVATION_REQUIRED
          status: 400
          trigger: "Defensive: the activation record was not found after insert."
        - errorType: INVALID_API_KEY
          status: 401
          trigger: The api-key header is missing or not resolvable to a merchant.
        - errorType: INVALID_IP_ADDRESS
          status: 401
          trigger: Live mode and the caller IP is not whitelisted.

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: >
        Merchant api-key sent in the `api-key` header, validated by the auth()
        middleware (apps/api/src/pkg/middleware/auth.ts:36-102) against the
        Profile service GET /merchants/me. The resolved merchant's businessId
        scopes all queries. In live mode (ENVIRONMENT=production) the caller IP
        (True-Client-IP / CF-Connecting-IP) must be in the merchant's
        whitelistedIpAddresses (or the wildcard 0.0.0.0), else 401
        INVALID_IP_ADDRESS.
    EphemeralBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: etok
      description: >
        Short-lived ephemeral reveal token (etok_...) minted by
        cardsCreateEphemeralToken, sent as `Authorization: Bearer etok_<token>`
        and validated by ephemeralBearerAuth (ephemeral_auth.ts:8-67). Used ONLY
        by POST /card_details, which is excluded from api-key auth (app.ts:51).
        The token is single-use and clock-skew bounded (+/-60s of its createdAt).

  responses:
    BadRequest:
      description: >
        Business-rule failure or a resource that was not found. Note: the service
        maps notFound() to HTTP 400 (factory.ts), so all *_NOT_FOUND errorTypes
        surface here. `errorType` identifies the cause.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error: Card not found
            errorType: CARD_NOT_FOUND
    Unauthorized:
      description: Authentication failed (missing/invalid api-key, non-whitelisted IP, or invalid ephemeral token).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error: The API key provided is invalid
            errorType: INVALID_API_KEY
    Forbidden:
      description: The ephemeral reveal proof failed (clock skew or nonce mismatch).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error: The reveal nonce proof is invalid
            errorType: EPHEMERAL_NONCE_INVALID
    UnprocessableEntity:
      description: Zod validation of the body, path params, or query failed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error: Validation failed
            errorType: VALIDATION_FAILED
            errors:
              - "cardType: Invalid enum value"
    DependencyFailure:
      description: An external dependency (program manager or ledger) failed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error: Card issuance failed
            errorType: CARD_ISSUANCE_FAILED
    ServerError:
      description: Unexpected server or database error.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error: An internal server error occurred
            errorType: INTERNAL_SERVER_ERROR

  schemas:
    SuccessEnvelope:
      type: object
      description: The standard Fincra success envelope. Every 2xx JSON wraps its payload under `data`.
      required: [success, message]
      properties:
        success:
          type: boolean
          const: true
          description: Always true on a 2xx response.
        message:
          type: string
          const: successful
          description: Always the literal "successful" on a 2xx response.
        data:
          description: The result payload; shape depends on the endpoint.

    ErrorResponse:
      type: object
      description: >
        The shared Fincra error envelope (handler.ts:10-17, types.ts:62).
        Validation (422) additionally ships an `errors` string array.
      required: [success, error, errorType]
      properties:
        success:
          type: boolean
          const: false
          description: Always false on an error response.
        error:
          type: string
          description: Human-readable error message.
        errorType:
          $ref: "#/components/schemas/ErrorType"
        errors:
          description: >
            Optional structured detail; the array of per-field messages on a
            VALIDATION_FAILED (422). Not present on every error branch.

    ErrorType:
      type: string
      description: >
        SCREAMING_SNAKE_CASE machine code for the error. Enumerates the values
        reachable on the in-scope card paths (in-handler throws plus the
        platform-level validation/auth/not-found/500/503 paths). Note: all
        *_NOT_FOUND types surface with HTTP 400 because notFound() maps to 400.
      enum:
        - VALIDATION_FAILED
        - BAD_REQUEST
        - INVALID_API_KEY
        - INVALID_IP_ADDRESS
        - INTERNAL_SERVER_ERROR
        - ROUTE_NOT_FOUND
        - CARDHOLDER_ALREADY_EXISTS
        - CARDHOLDER_NOT_FOUND
        - CARD_PRODUCT_NOT_FOUND
        - CARD_PRODUCT_ACTIVATION_REQUIRED
        - CARD_PRODUCT_NOT_ACTIVE
        - CARD_PRODUCT_ALREADY_ACTIVATED
        - CARD_PRODUCT_ENTITY_TYPE_MISMATCH
        - CARD_ISSUANCE_FAILED
        - CARD_NOT_FOUND
        - CARD_ACTIVATION_REQUIRED
        - CARD_NOT_ACTIVE
        - CARD_UPDATE_FAILED
        - CARD_ALREADY_ACTIVATED
        - CARD_IS_FROZEN
        - CARD_ACTIVATION_FAILED
        - CARD_CANCELLATION_FAILED
        - CARD_PIN_SET_FAILED
        - INVALID_CURRENCY
        - BALANCE_INSUFFICIENT
        - TRANSACTION_ALREADY_COMPLETED
        - ACCOUNT_BALANCE_NOT_FOUND
        - CARD_FUND_COMPENSATION_FAILED
        - CARD_TRANSACTION_NOT_FOUND
        - EPHEMERAL_NONCE_REUSED
        - EPHEMERAL_TOKEN_INVALID
        - EPHEMERAL_TOKEN_USED
        - EPHEMERAL_TOKEN_EXPIRED
        - EPHEMERAL_NONCE_INVALID
        - UNAUTHORIZED
        - CARD_REVEAL_RETRY_REQUIRED

    Currency:
      type: string
      description: >
        ISO 4217 alpha-3 currency code. Full enum from
        packages/iso4217/src/types.ts:8-166 (155 codes).
      enum:
        [AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN,
         BHD, BIF, BMD, BND, BOB, BRL, BSD, BTN, BWP, BYN, BZD, CAD, CDF, CHF,
         CLP, CNY, COP, CRC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EGP, ERN, ETB,
         EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK,
         HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR,
         KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LYD, MAD, MDL,
         MGA, MKD, MMK, MNT, MOP, MRU, MUR, MVR, MWK, MXN, MYR, MZN, NAD, NGN,
         NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON,
         RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SLL, SOS, SRD, SSP,
         STN, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRY, TTD, TWD, TZS, UAH,
         UGX, USD, UYU, UZS, VES, VND, VUV, WST, XAF, XCD, XDR, XOF, XPF, YER,
         ZAR, ZMW, ZWL]

    CountryCode:
      type: string
      description: >
        ISO 3166-1 alpha-2 country code (e.g. NG). Full enum lives in
        @issuing/iso3166; the exact value list was not read from source.
      x-todo: "Full ISO 3166-1 alpha-2 enum not enumerated; confirm exhaustive list. Source: packages/iso3166/src/types.ts (not read)"

    CardStatus:
      type: string
      description: Lifecycle state of a card.
      enum: [active, inactive, cancelled]

    CardScheme:
      type: string
      description: Card network scheme.
      enum: [visa, mastercard, verve]

    CardType:
      type: string
      description: Card form factor. Only debit_card and virtual_debit_card are accepted on issuance.
      enum: [debit_card, prepaid_card, virtual_debit_card, virtual_prepaid_card]

    CardholderType:
      type: string
      description: Whether the cardholder is an individual or a business.
      enum: [individual, business]

    CardCancellationReason:
      type: string
      description: Reason a card is terminated.
      enum: [lost, stolen, damaged, fraud, other]

    CardTransactionStatus:
      type: string
      description: State of a card transaction.
      enum: [PENDING, SUCCESSFUL, FAILED]

    CardTransactionType:
      type: string
      description: Kind of card transaction.
      enum: [FUNDING, AUTHORIZATION, REVERSAL, WITHDRAWAL]

    ProductEntityType:
      type: string
      description: Which cardholder entity types a product supports.
      enum: [individual, business, individual_and_business]

    ProductStatus:
      type: string
      description: Global status of a card product.
      enum: [active, inactive, disabled]

    ProductActivationStatus:
      type: string
      description: Merchant-specific activation status of a card product.
      enum: [pending, active, disabled, inactive]

    Gender:
      type: string
      description: Cardholder gender.
      enum: [male, female]

    MaritalStatus:
      type: string
      description: Cardholder marital status.
      enum: [single, married, divorced, widowed]

    IdentityNumberType:
      type: string
      description: Type of Nigerian identity number.
      enum: [bvn, nin]

    IdDocumentType:
      type: string
      description: Type of identity document uploaded for KYC.
      enum: [drivers_license, passport, national_id]

    Money:
      type: object
      description: A monetary amount with its currency.
      required: [amount, currency]
      properties:
        amount:
          type: number
          description: Amount in major units; decimal places must not exceed the currency's minor units.
        currency:
          $ref: "#/components/schemas/Currency"

    Address:
      type: object
      description: A postal address for a cardholder or business.
      required: [line1, country, city]
      properties:
        line1: { type: string, minLength: 1, description: First address line. Required. }
        line2: { type: string, minLength: 1, description: Second address line. Optional. }
        postalCode: { type: string, minLength: 1, description: Postal code. Optional. }
        country: { allOf: [ { $ref: "#/components/schemas/CountryCode" } ], description: Country (ISO 3166-1 alpha-2). Required. }
        city: { type: string, minLength: 1, description: City. Required. }
        state: { type: string, minLength: 1, description: State or region. Optional. }

    BillingAddress:
      type: object
      description: The billing address of a card (all fields required except line2).
      required: [line1, city, state, postalCode, country]
      properties:
        line1: { type: string, minLength: 1, description: First address line. Required. }
        line2: { type: string, minLength: 1, description: Second address line. Optional. }
        city: { type: string, minLength: 1, description: City. Required. }
        state: { type: string, minLength: 1, description: State or region. Required. }
        postalCode: { type: string, minLength: 1, description: Postal code. Required. }
        country: { allOf: [ { $ref: "#/components/schemas/CountryCode" } ], description: Country (ISO 3166-1 alpha-2). Required. }

    BillingAddressResponse:
      type: object
      description: The billing address as returned on read (all string fields).
      properties:
        line1: { type: string, description: First address line. }
        line2: { type: string, description: Second address line. }
        city: { type: string, description: City. }
        state: { type: string, description: State or region. }
        postalCode: { type: string, description: Postal code. }
        country: { type: string, description: Country (ISO 3166-1 alpha-2). }

    IdentityNumber:
      type: object
      description: A Nigerian identity number. When countryCode is NG both a BVN and a NIN are required.
      required: [type, number]
      properties:
        type: { allOf: [ { $ref: "#/components/schemas/IdentityNumberType" } ], description: The identity number type. Required. }
        number: { type: string, minLength: 11, maxLength: 11, description: The 11-character identity number (exactly 11). Required. }

    KycDocuments:
      type: object
      description: KYC document URLs for an individual cardholder or associated person.
      required: [idFrontUrl, idType, proofOfAddressUrl]
      properties:
        idFrontUrl: { type: string, format: uri, description: URL of the front of the ID document. Required. }
        idBackUrl: { type: string, format: uri, description: URL of the back of the ID document. Required when idType=drivers_license. }
        idType: { allOf: [ { $ref: "#/components/schemas/IdDocumentType" } ], description: The ID document type. Required. }
        proofOfAddressUrl: { type: string, format: uri, description: URL of the proof-of-address document. Required. }

    AssociatedPersonBase:
      type: object
      description: >
        A person associated with a cardholder. Used directly for an individual
        cardholder's KYC profile and, extended with shareholding fields, for a
        business's associated persons.
      required: [firstName, lastName, dob, countryCode, gender, maritalStatus, address, documents]
      properties:
        firstName: { type: string, minLength: 1, description: Given name. Required. }
        lastName: { type: string, minLength: 1, description: Family name. Required. }
        otherName: { type: string, minLength: 1, description: Middle/other name. Optional. }
        dob: { type: string, format: date, description: Date of birth (ISO date); must be in the past and age >= 18. Required. }
        countryCode: { allOf: [ { $ref: "#/components/schemas/CountryCode" } ], description: Country of residence; must be NG for individuals. Required. }
        gender: { $ref: "#/components/schemas/Gender" }
        maritalStatus: { $ref: "#/components/schemas/MaritalStatus" }
        address: { allOf: [ { $ref: "#/components/schemas/Address" } ], description: Residential address. Required. }
        identityNumbers:
          type: array
          default: []
          description: Identity numbers; when countryCode=NG both a BVN and a NIN are required.
          items: { $ref: "#/components/schemas/IdentityNumber" }
        documents: { allOf: [ { $ref: "#/components/schemas/KycDocuments" } ], description: KYC document URLs. Required. }

    AssociatedPerson:
      type: object
      description: An associated person of a business cardholder, with shareholding.
      allOf:
        - $ref: "#/components/schemas/AssociatedPersonBase"
        - type: object
          required: [shareholderPercentage, isDirector]
          properties:
            shareholderPercentage: { type: number, minimum: 0, maximum: 100, description: Percentage of shares held (0-100). Required. }
            isDirector: { type: boolean, description: Whether this person is a director. Required. }

    AssociatedEntity:
      type: object
      description: An associated corporate entity of a business cardholder, with shareholding.
      properties:
        legalName: { type: string, minLength: 1, description: Legal name of the entity. }
        tradeName: { type: string, minLength: 1, description: Trading name of the entity. }
        shareholderPercentage: { type: number, minimum: 0, maximum: 100, description: Percentage of shares held (0-100). }
        companyRegistrationNumber: { type: string, minLength: 1, description: Company registration number. }
        countryOfIncorporation: { allOf: [ { $ref: "#/components/schemas/CountryCode" } ], description: Country of incorporation. }
        incorporationDate: { type: string, format: date, description: Incorporation date (ISO date). }
        address: { $ref: "#/components/schemas/Address" }

    KybDocuments:
      type: object
      description: KYB document URLs for a business cardholder.
      required: [certificateOfIncorporationUrl, companyProofOfAddressUrl, articlesOfAssociationOrMemorandum]
      properties:
        certificateOfIncorporationUrl: { type: string, format: uri, description: URL of the certificate of incorporation. Required. }
        companyProofOfAddressUrl: { type: string, format: uri, description: URL of the company proof of address. Required. }
        articlesOfAssociationOrMemorandum: { type: string, format: uri, description: URL of the articles of association or memorandum. Required. }

    KybProfile:
      type: object
      description: >
        Know-your-business profile for a business cardholder. The associated
        persons' and entities' shareholderPercentage must sum to 100, and at
        least one associated person must be Nigerian (NG).
      required: [legalName, tradeName, companyRegistrationNumber, countryOfIncorporation, incorporationDate, documents, industry, associatedPersons]
      properties:
        legalName: { type: string, minLength: 1, description: Registered legal name. Required. }
        tradeName: { type: string, minLength: 1, description: Trading name. Required. }
        companyRegistrationNumber: { type: string, minLength: 1, description: Company registration number. Required. }
        countryOfIncorporation: { allOf: [ { $ref: "#/components/schemas/CountryCode" } ], description: Country of incorporation. Required. }
        incorporationDate: { type: string, format: date, description: Incorporation date (ISO date); not in the future. Required. }
        documents: { allOf: [ { $ref: "#/components/schemas/KybDocuments" } ], description: KYB document URLs. Required. }
        industry: { type: string, minLength: 1, description: Industry the business operates in. Required. }
        associatedPersons:
          type: array
          minItems: 1
          description: Associated persons; at least one must be Nigerian (NG).
          items: { $ref: "#/components/schemas/AssociatedPerson" }
        associatedEntities:
          type: array
          description: Associated corporate entities. Optional.
          items: { $ref: "#/components/schemas/AssociatedEntity" }

    CreateCardholderRequest:
      oneOf:
        - $ref: "#/components/schemas/CreateIndividualCardholderRequest"
        - $ref: "#/components/schemas/CreateBusinessCardholderRequest"
      discriminator:
        propertyName: type
        mapping:
          individual: "#/components/schemas/CreateIndividualCardholderRequest"
          business: "#/components/schemas/CreateBusinessCardholderRequest"
      description: >
        Body for POST /cardholders. A discriminated union on `type`; individuals
        supply a KYC profile, businesses supply a KYB profile.

    CreateIndividualCardholderRequest:
      type: object
      description: Body for POST /cardholders when type=individual.
      required: [type, reference, email, phoneNumber, kycProfile]
      properties:
        type: { type: string, const: individual, description: Discriminator; must be "individual". Required. }
        reference: { type: string, minLength: 1, description: Your unique reference for this cardholder. Required. }
        email: { type: string, format: email, description: Cardholder email. Required. }
        phoneNumber: { type: string, minLength: 5, description: Phone number; normalised to E.164 using the KYC countryCode. Required. }
        kycProfile: { allOf: [ { $ref: "#/components/schemas/AssociatedPersonBase" } ], description: The individual's KYC profile. Required. }

    CreateBusinessCardholderRequest:
      type: object
      description: Body for POST /cardholders when type=business.
      required: [type, reference, email, phoneNumber, address, kybProfile]
      properties:
        type: { type: string, const: business, description: Discriminator; must be "business". Required. }
        reference: { type: string, minLength: 1, description: Your unique reference for this cardholder. Required. }
        email: { type: string, format: email, description: Business contact email. Required. }
        phoneNumber: { type: string, minLength: 5, description: Phone number; normalised to E.164 using countryOfIncorporation. Required. }
        address: { allOf: [ { $ref: "#/components/schemas/Address" } ], description: Business address. Required. }
        kybProfile: { allOf: [ { $ref: "#/components/schemas/KybProfile" } ], description: The business's KYB profile. Required. }

    Cardholder:
      type: object
      description: A cardholder as returned by the cardholder endpoints.
      properties:
        id: { type: string, description: The cardholder id (prefix ch_). }
        name: { type: string, description: The cardholder's display name. }
        email: { type: string, description: The cardholder's email. }
        phoneNumber: { type: string, description: The cardholder's E.164 phone number. }
        address: { allOf: [ { $ref: "#/components/schemas/Address" } ], description: The cardholder's address. }
        reference: { type: string, description: Your reference for this cardholder. }
        type: { $ref: "#/components/schemas/CardholderType" }
        countryCode: { type: string, description: The cardholder's country (ISO 3166-1 alpha-2). }
        createdAt: { type: string, format: date-time, description: Creation timestamp. }
        updatedAt: { type: string, format: date-time, description: Last update timestamp. }

    CardholderPage:
      type: object
      description: A cursor-paginated page of cardholders.
      required: [hasMore, cursor, data]
      properties:
        hasMore: { type: boolean, description: Whether more records exist beyond this page. }
        cursor: { type: [string, "null"], description: "Opaque cursor for the next page, or null if none." }
        data:
          type: array
          description: The cardholders on this page.
          items: { $ref: "#/components/schemas/Cardholder" }

    CreateCardRequest:
      type: object
      description: Body for POST /cards.
      required: [reference, cardProductId, cardholderId, cardType, billingAddress]
      properties:
        reference: { type: string, minLength: 1, description: Your unique reference for this card. Required. }
        cardProductId: { type: string, pattern: "^cprod_", description: The activated card product id (prefix cprod_). Required. }
        cardholderId: { type: string, pattern: "^ch_", description: The cardholder id (prefix ch_). Required. }
        cardType: { type: string, enum: [debit_card, virtual_debit_card], description: The card type; only debit_card or virtual_debit_card. Required. }
        billingAddress: { allOf: [ { $ref: "#/components/schemas/BillingAddress" } ], description: The card's billing address. Required. }
        metadata:
          type: object
          description: Arbitrary string-keyed metadata to attach to the card. Optional.
          additionalProperties: true

    CardCreated:
      type: object
      description: The card returned immediately after issuance.
      properties:
        id: { type: string, description: The card id (prefix card_). }
        status: { $ref: "#/components/schemas/CardStatus" }
        last4: { type: string, description: Last four digits of the PAN. }
        panMasked: { type: string, description: Masked PAN. }
        expiryMonth: { type: string, description: Expiry month (MM). }
        expiryYear: { type: string, description: Expiry year (YYYY). }
        scheme: { $ref: "#/components/schemas/CardScheme" }
        currency: { allOf: [ { $ref: "#/components/schemas/Currency" } ], description: "The card currency, from the product." }
        cardProductId: { type: string, description: The card product id (prefix cprod_). }
        cardholderId: { type: string, description: The cardholder id (prefix ch_). }
        reference: { type: string, description: Your reference for this card. }

    Card:
      type: object
      description: A card as returned by the list/retrieve endpoints.
      properties:
        id: { type: string, description: The card id (prefix card_). }
        status: { $ref: "#/components/schemas/CardStatus" }
        last4: { type: string, description: Last four digits of the PAN. }
        panMasked: { type: string, description: Masked PAN. }
        expiryMonth: { type: string, description: Expiry month (MM). }
        expiryYear: { type: string, description: Expiry year (YYYY). }
        scheme: { $ref: "#/components/schemas/CardScheme" }
        cardType: { $ref: "#/components/schemas/CardType" }
        billingAddress: { allOf: [ { $ref: "#/components/schemas/BillingAddressResponse" } ], description: The card's billing address. }
        currency: { allOf: [ { $ref: "#/components/schemas/Currency" } ], description: The card currency. }
        cardProductId: { type: string, description: The card product id (prefix cprod_). }
        cardholderId: { type: string, description: The cardholder id (prefix ch_). }
        isFrozen: { type: boolean, description: Whether the card is currently frozen. }
        createdAt: { type: string, description: Creation timestamp. }
        updatedAt: { type: string, description: Last update timestamp. }

    CardPage:
      type: object
      description: A cursor-paginated page of cards.
      required: [hasMore, cursor, data]
      properties:
        hasMore: { type: boolean, description: Whether more records exist beyond this page. }
        cursor: { type: [string, "null"], description: "Opaque cursor for the next page, or null if none." }
        data:
          type: array
          description: The cards on this page.
          items: { $ref: "#/components/schemas/Card" }

    UpdateCardRequest:
      type: object
      description: Body for PUT /cards/{id}. Setting inactive freezes the card; active unfreezes it.
      required: [status]
      properties:
        status: { type: string, enum: [active, inactive], description: The target status; only active or inactive. Required. }

    CardMutationResult:
      type: object
      description: The card summary returned after an update.
      properties:
        id: { type: string, description: The card id (prefix card_). }
        status: { $ref: "#/components/schemas/CardStatus" }
        last4: { type: string, description: Last four digits of the PAN. }
        panMasked: { type: string, description: Masked PAN. }
        expiryMonth: { type: string, description: Expiry month (MM). }
        expiryYear: { type: string, description: Expiry year (YYYY). }
        scheme: { $ref: "#/components/schemas/CardScheme" }
        currency: { allOf: [ { $ref: "#/components/schemas/Currency" } ], description: The card currency. }
        cardProductId: { type: string, description: The card product id (prefix cprod_). }
        cardholderId: { type: string, description: The cardholder id (prefix ch_). }

    CardActivationResult:
      type: object
      description: The result of activating a card.
      required: [id, status]
      properties:
        id: { type: string, description: The card id (prefix card_). }
        status: { $ref: "#/components/schemas/CardStatus" }

    TerminateCardRequest:
      type: object
      description: Body for POST /cards/{id}/terminate.
      required: [reason]
      properties:
        reason: { allOf: [ { $ref: "#/components/schemas/CardCancellationReason" } ], description: The termination reason. Required. }

    CardTerminationResult:
      type: object
      description: The result of terminating a card.
      required: [id, reason]
      properties:
        id: { type: string, description: The card id (prefix card_). }
        reason: { $ref: "#/components/schemas/CardCancellationReason" }

    FundCardRequest:
      type: object
      description: Body for POST /cards/{id}/fund. settlementAmount.currency must equal the card currency.
      required: [settlementAmount, reference]
      properties:
        settlementAmount: { allOf: [ { $ref: "#/components/schemas/Money" } ], description: The amount to fund and its currency. Required. }
        reference: { type: string, minLength: 1, description: Your unique reference for this funding. Required. }

    CardTransaction:
      type: object
      description: A card transaction as returned by the fund/list/retrieve endpoints.
      properties:
        id: { type: string, description: The transaction id (prefix cardtx_). }
        type: { $ref: "#/components/schemas/CardTransactionType" }
        status: { $ref: "#/components/schemas/CardTransactionStatus" }
        presentmentAmount: { allOf: [ { $ref: "#/components/schemas/Money" } ], description: The presentment amount and currency. }
        settlementAmount: { allOf: [ { $ref: "#/components/schemas/Money" } ], description: The settlement amount and currency. }
        feeAmount: { allOf: [ { $ref: "#/components/schemas/Money" } ], description: The fee amount and currency. }
        exchangeRate: { type: string, description: The exchange rate applied. }
        rrn: { type: [string, "null"], description: "Retrieval reference number, or null." }
        stan: { type: [string, "null"], description: "System trace audit number, or null." }
        terminalId: { type: [string, "null"], description: "Terminal id, or null." }
        merchantId: { type: [string, "null"], description: "Acquiring merchant id, or null." }
        reversalOf: { type: [string, "null"], description: "Id of the transaction this reverses, or null." }
        reference: { type: [string, "null"], description: "Your reference, or null." }
        createdAt: { type: string, description: Creation timestamp. }
        updatedAt: { type: string, description: Last update timestamp. }

    CardTransactionPage:
      type: object
      description: A cursor-paginated page of card transactions.
      required: [hasMore, cursor, data]
      properties:
        hasMore: { type: boolean, description: Whether more records exist beyond this page. }
        cursor: { type: [string, "null"], description: "Opaque cursor for the next page, or null if none." }
        data:
          type: array
          description: The transactions on this page.
          items: { $ref: "#/components/schemas/CardTransaction" }

    SetCardPinRequest:
      type: object
      description: Body for POST /cards/{id}/pin.
      required: [pin]
      properties:
        pin: { type: string, pattern: "^[0-9]{4}$", description: "The 4-digit numeric PIN. Required." }

    CardIdResult:
      type: object
      description: A minimal result carrying just the card id.
      required: [id]
      properties:
        id: { type: string, description: The card id (prefix card_). }

    CardBalance:
      type: object
      description: A per-currency ledger balance for a card.
      required: [id, currency, availableBalance, postedBalance]
      properties:
        id: { type: string, description: The balance/account id. }
        currency: { allOf: [ { $ref: "#/components/schemas/Currency" } ], description: The balance currency. }
        availableBalance: { type: number, description: The available (spendable) balance. }
        postedBalance: { type: number, description: The posted (settled) balance. }

    CreateEphemeralTokenRequest:
      type: object
      description: Body for POST /cards/{id}/ephemeral_tokens.
      required: [nonce]
      properties:
        nonce: { type: string, format: byte, description: "A base64-encoded nonce (RFC 4648, with padding). Required." }

    EphemeralTokenResult:
      type: object
      description: The minted ephemeral reveal token.
      required: [ephemeralToken]
      properties:
        ephemeralToken: { type: string, description: The opaque ephemeral reveal token (prefix etok_). }

    GetCardDetailsRequest:
      type: object
      description: >
        Body for POST /card_details. The derived nonce from clientSecret +
        clientTimestamp must match the token's stored nonce.
      required: [clientSecret, clientTimestamp]
      properties:
        clientSecret: { type: string, minLength: 1, description: The client secret used to derive the reveal nonce. Required. }
        clientTimestamp: { type: integer, minimum: 1, description: UNIX timestamp used to derive the nonce; must be within clock skew. Required. }

    CardDetails:
      type: object
      description: The revealed full card details. Served with no-store cache headers.
      required: [pan, cvv, expiryMonth, expiryYear]
      properties:
        pan: { type: string, description: The full card PAN. }
        cvv: { type: string, description: The card CVV. }
        expiryMonth: { type: string, description: Expiry month (MM). }
        expiryYear: { type: string, description: Expiry year (YYYY). }

    CardProduct:
      type: object
      description: A card product with the merchant's activation status.
      properties:
        id: { type: string, description: The card product id (prefix cprod_). }
        name: { type: string, description: The product name. }
        productCode: { type: string, description: The product code. }
        scheme: { $ref: "#/components/schemas/CardScheme" }
        currency: { allOf: [ { $ref: "#/components/schemas/Currency" } ], description: The product currency. }
        entityType: { $ref: "#/components/schemas/ProductEntityType" }
        status: { $ref: "#/components/schemas/ProductStatus" }
        activationStatus: { allOf: [ { $ref: "#/components/schemas/ProductActivationStatus" } ], description: Merchant-specific activation status; defaults to inactive if not activated. }
        createdAt: { type: string, description: Creation timestamp. Optional. }
        updatedAt: { type: string, description: Last update timestamp. Optional. }

    CardProductActivation:
      type: object
      description: The merchant-card-product activation record.
      properties:
        id: { type: string, description: The activation id (prefix mcprod_). }
        cardProductId: { type: string, description: The card product id (prefix cprod_). }
        productCode: { type: string, description: The product code. }
        businessId: { type: string, description: The merchant business id. }
        status: { $ref: "#/components/schemas/ProductActivationStatus" }
        createdAt: { type: string, description: Creation timestamp. }
        updatedAt: { type: string, description: Last update timestamp. }
